.grid_portfolio{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.4fr 0.05fr 0.1fr 0.3fr 0.1fr;
    grid-template-areas:
    "main main seca"
    "secb secc seca"
    "secb secc secd"
    "secb secf secd"
    "sece secf secd"
    "sece secf secg"
    "sece sech secg"
    ;
    @media (max-width: 576px){
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 0.8fr 1fr 0.2fr;
        grid-template-areas:
        "main main main"
        "seca secb secb"
        "secd secb secb"
        "secd secc secc"
        "secg secg sece"
        "sech sech sech"
        ;
    }
    .main_portfolio{
        grid-area: main;
        border: $half-border;
        border-top: 0px;
        .text_box_a{
            margin: 40px 40px 40px 80px;
            @media (max-width: 576px){
                margin: 20px 45px;
            }
        }
    }
    .sec_a_portfolio{
        grid-area: seca;
        border: $half-border;
        display: flex;
        .img_portfolio{
            object-fit: cover;
            display: flex;
        }
    }
    .sec_b_portfolio{
        grid-area: secb;
        border: $half-border;
        display: flex;
        .div_portfolio{
            display: flex;
            padding: 20px;
            .img_portfolio_b{
                object-fit: cover;
                display: flex;
            }
        }
    }
    .sec_c_portfolio{
        grid-area: secc;
        border: $half-border;
        display: flex;
        .img_portfolio{
            object-fit: cover;
            display: flex;
        }
    }
    .sec_d_portfolio{
        grid-area: secd;
        border: $half-border;
        display: flex;
        .div_portfolio{
            display: flex;
            padding: 20px;
            .img_portfolio_b{
                object-fit: cover;
                display: flex;
            }
        }
    }
    .sec_e_portfolio{
        grid-area: sece;
        border: $half-border;
        display: flex;
        .img_portfolio{
            object-fit: cover;
            display: flex;
        }
    }
    .sec_f_portfolio{
        grid-area: secf;
        border: $half-border;
        display: flex;
        @media (max-width: 576px){
            display: none;
        }
        .div_portfolio{
            display: flex;
            padding: 20px;
            .img_portfolio_b{
                object-fit: cover;
                display: flex;
            }
        }
    }
    .sec_g_portfolio{
        grid-area: secg;
        border: $half-border;
        display: flex;
        .img_portfolio{
            object-fit: cover;
            display: flex;
        }
    }
    .sec_h_portfolio{
        grid-area: sech;
        border: $half-border;
        display: flex;
        flex-direction: row;
        padding: 30px;
        align-items: center;
        .cta_portfolio{
            display: flex;
            flex-direction: column;
            padding-right: 10%;
        }
        a .behance{
            width: 30%;
        }
    }
}