*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 4.5rem;
    text-align: center;
    padding: 0rem 20rem 0rem 20rem;
}
h2{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.2rem;
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 4rem;
}
h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.4rem;
}
h5{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 8px;
    grid-area: phrase;
}
p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.hidden{
    display: none;
}

.show{
    display: block
}

#move_bar{
    @extend %font-caps;
    font-weight: 1.3rem;
    border: $half-border;
    padding: 10px 0 5px 0;
    
    marquee ul{
        display: flex;
        flex-direction: row;
        margin: 0%;
        padding: 0%;
        width: 100%;

        li {
            display: inline;
            padding: 8px;
        }
    }
}

// BOTONES

.button_div{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn_mine{
    border: $complete-border;
    background-color: rgb(0, 0, 0);
    @extend %font-caps;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    text-align: center;

    &:hover{
        border: $complete-border;
        @extend %gr-c;
        color: $black;
    }
}