%font-caps{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
%font-caps-b{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

// Gradientes
%gr-a{
    background: rgb(255,250,155);
    background: radial-gradient(circle, rgba(255,250,155,1) 0%, rgba(79,178,255,1) 100%);
}
%gr-b{
    background: rgb(243,155,255);
    background: radial-gradient(circle, rgba(243,155,255,1) 0%, rgba(79,255,225,1) 100%);
}
%gr-c{
    background:  rgb(190,255,79);
    background:  radial-gradient(circle, rgba(190,255,79,1) 0%, rgba(255,155,254,1) 100%);
}