/*BS TOGGLER*/
.navbar-toggler-mine{
    border: 1px solid black;
    border-radius: 0px;
    margin: 5%;
    padding: 20px;
}
.carousel_bg{
    display: none;
}
.footer_display{
    display: none;
}
.footer_display_complete{
    display: block;
}
.hidden_mobile{
    display: block;
}
.hidden_mobile{
    display: none;
}
.design_services_text{
    padding: 10px;
}
.services_items{
    padding: 40px;
}